<ul class="preview__list">
    {{#each this}}
    <li class="preview__item">
        <img class="preview__img" src="{{flag}}" alt="flag{{name}}" width="100">
        <h2 class="preview__title" data-name="{{name}}">{{name}}</h2>
    </li>
    {{/each}}
</ul>